@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
font-size: 62.5%;
overflow-x: hidden;
scroll-padding-top: 9rems;
scroll-behavior: smooth;

}

html::-webkit-scrollbar{
width: .8rem;

}


html::-webkit-scrollbar-track{
   background: transparent;
    
    }


html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;    

   }

   body{
  background:aqua;

   }

   section{
   padding: 2rem 7%;


   }

   .heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

   }

   .heading span{
   color:aqua;
   text-transform: uppercase;
   }

  .btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: aqua;
  cursor: pointer;

   }

   .btn:hover{
  letter-spacing: .2rem;


   }

   header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
   }

   .header .navbar a{
   margin: 0 1rem;
   font-size: 1.6rem;
   color: blue;
    
   }

   .header .navbar a:hover{
    color: #fff;
    border-bottom: .1rem solid #fff;
    padding-bottom: .5rem;

   }

   .header .icons div{
   color: blue;
   cursor: pointer;
   font-size: 2.5rem;
   margin-left: 2rem;
   }

   .header .icons div:hover{
   color: aqua;


   }

   #menu-btn{
  display: none;

   }

  .header .search-form{
  position: absolute;
  top: 115%;
  right: 7%;
  background:#fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
   }


   .header .search-form.active {
    transform: scaleY(1);


   }

   .header .search-form input{
    height: 100%;
    width: 100%;
   font-size: 1.6rem;
   color: #fff;
   padding: 1rem;
   text-transform: none;

   }

   .header .search-form label{
   cursor: pointer;
   font-size: 2.2rem;
   margin: 1.5rem;
   color: black;
   }

   .header .search-form label:hover{
   color: aqua;


   }

   
    .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    }
  

    .home .content{
    max-width: 60rem;



    }

    
    .home .content h3{
        font-size: 6rem;
       text-transform: uppercase;
       color: #fff;
    
    
        }

        
    .home .content p{
        font-size: 5rem;
       font-weight: lighter;
       line-height: 1.8;
       padding: 1rem 0;
       color: #eee;
    
    
        }
       
        
    



@media (max-width:991px){
    html{
        font-size: 55%;
        
        }
       
        .header{
       padding: 1.5rem 2rem;

        }

   section{
    padding: 2rem;
 
 
    }

}


@media (max-width:768px){
    
    #menu-btn{
        display: inline-block;
      
         }

         .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);

         }

         .header .navbar.active{
          right: 0;

         }
      
         .header .navbar a{
          color: black;
          display: block;
          margin: 1.5rem;
          padding: 5rem;
          font: size 2rem;
        
         }
     
         .header .search-form{
            width: 90%;
            right: 2rem;
         }


    .home{
     background-position: left;
     justify-content: center;
     text-align: center;

         }

         
    .home content h3{
     font-size: 4.5rem;
        
   
        }

    .home content p{
    font-size: 1.5rem;
                
           
        }
    
 
}
    
@media (max-width:450px){
    html{
        font-size: 50%;
        
        }
}

